{#
Vista del editor del diario del aula de convivencia.
Actualizado por GUBS, RAGZ, 2019
#}
{% extends 'base2.html.twig' %}

{% block body %}
    {% include 'convivencia/navegacion.html.twig' %}

    <h3 class="center azul-prof fuente">Editar diario aula convivencia</h3>
    <h4 class="center azul-prof fuente">{{ diario.idSancion.idAlumno.getNombreCompleto() }}</h4>

    <div class="col s12 l4 offset-l4 center">

        <form method="post" class="" name="formBusqueda">
            <div class="center">
            {% if recupera %}
                <a href="{{ path('edit_diario', {'id': app.request.get('id'), 'recuperaPunto': 'true'}) }}"
                   class="btn  btn-floating blue darken-3 waves-effect waves-light" data-title="Recuperar punto">-1</a>
            {% else %}
                <button class="btn btn-floating blue darken-3 waves-effect waves-light" type="button" name="recuperaPunto"
                       value="-1 Punto"
                        disabled>-1</button>
            {% endif %}
            </div>
        </form>

        {{ form_start(form, {'attr': {'class':'w3-content formConvivencia', 'id':'diarioAulaForm'}}) }}
        {{ form_widget(form) }}
        <button style="margin-bottom: 20px" class="btn blue darken-3 waves-effect waves-light"  type="submit"
                name="editarDiario" value="Editar">Editar<i class="material-icons right">send</i></button>
        {{ form_end(form) }}
    </div>
{% endblock %}
