{#
Vista de carnets.
Actualizado por GUBS, RAGZ, 2019
#}
{% extends 'base2.html.twig' %}

{% block body %}
    {% include 'convivencia/navegacion.html.twig' %}
    <div class="">
        <h3 class="center azul-prof fuente">Carnets</h3>
        <form action="">
            <div class="row">
                <div class="input-field col s12 m6 left">
                    <div class=" col s10" id="aqui">
                        <label for="carnetFilterPuntos">Filtra por puntos</label>
                        <select name="puntosFiltro" id="carnetFilterPuntos">
                            {% for puntos in puntosSelect %}
                                {% if app.request.get('puntosFiltro') == puntos %}
                                    <option value="{{ puntos }}" selected>{{ puntos }}</option>
                                {% else %}
                                    <option value="{{ puntos }}">{{ puntos }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col s1" id="aqui2" style="margin-top: 8%;">
                        <button class="bus2 z-depth-3 btn btn-floating blue darken-3 waves-effect waves-light"
                                type="submit"
                                value="Buscar" title="Buscar"><i class="material-icons right">search</i></button>
                    </div>
                    <div class="col s6 m4" id="exp">
                        {#<a style="display: none" href="{{ path('export_form_carnets') }}"#}
                        {#class="btn z-depth-3  btn-floating blue darken-3 waves-effect waves-light"#}
                        {#title="Exportar"><i class="material-icons">get_app</i></a>#}
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="tableDataCarnets responsive-table highlight z-depth-3" data-order='[[ 1, "desc" ]]'
                       style="margin-bottom: 1%" data-page-length='10'>
                    <thead>
                    <tr class="blue darken-3 white-text">
                        <th>Alumnado</th>
                        <th>Puntos</th>
                        <th>Grupo</th>
                        <th>Medida</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for carnet in arrayCarnetData %}
                        {% if carnet.alumno.puntos == 0 %}
                            {% set colorClass = 'green-text' %}
                        {% elseif carnet.alumno.puntos > 0 and carnet.alumno.puntos < 7 %}
                            {% set colorClass = 'orange-text' %}
                        {% elseif carnet.alumno.puntos == 7 %}
                            {% set colorClass = 'pink-text' %}
                        {% elseif carnet.alumno.puntos > 7 and carnet.alumno.puntos < 10 %}
                            {% set colorClass = 'red-text text-darken-3' %}
                        {% elseif carnet.alumno.puntos >= 10 %}
                            {% set colorClass = 'red-text text-darken-4' %}
                        {% else %}
                            {% set colorClass = 'black-text' %}
                        {% endif %}
                        <tr>
                            <td>
                                <a href="{{ path('verAlumno', {'id': carnet.alumno.id}) }}">{{ carnet.alumno.getNombreCompleto() }}</a>
                            </td>
                            <td class="{{ colorClass }}">{{ carnet.alumno.puntos }}</td>
                            {% if carnet.alumno.idCurso != null %}
                                <td>
                                    {{ carnet.alumno.idCurso.grupo }}
                                </td>
                            {% else %}
                                <td>Ninguno</td>
                            {% endif %}
                            {% if carnet.arraySanciones|length > 0 %}
                                <td>
                                {% if carnet.arraySanciones|length <= 1 %}
                                    {% if carnet.arraySanciones[0].idEstado.estado == "Finalizada" and carnet.alumno.puntos > 6 %}
                                        {% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_CONVIVENCIA')) %}
                                            <a href="{{ path('nueva_sancion', {'idAlumno': carnet.alumno.id}) }}">Crear
                                                sanci贸n</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if carnet.arraySanciones|length > 1 %}
                                    {% set flagF = 0 %}
                                    {% set flagIV = 0 %}
                                    {% for sancion in carnet.arraySanciones %}
                                        {% if sancion.idEstado.estado == "Finalizada" %}
                                            {% set flagF = 1 %}
                                        {% elseif sancion.idEstado.estado != "Finalizada" %}
                                            {% set flagIV = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if flagF == 1 and flagIV == 0 and carnet.alumno.puntos > 6 %}
                                        {% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_CONVIVENCIA')) %}
                                            <a href="{{ path('nueva_sancion', {'idAlumno': carnet.alumno.id}) }}">Recrear
                                                sanci贸n</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% for sancion in carnet.arraySanciones %}
                                    {% if sancion.idEstado.estado == "Iniciada" or sancion.idEstado.estado == "Vigente" %}
                                        {% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_CONVIVENCIA')) %}
                                            <a href="{{ path('nueva_sancion', {'idSancion':sancion.id}) }}">
                                                ({{ sancion.fecha|date('d/m/Y') }} - {{ sancion.idTipo.tipo }}
                                                - {{ sancion.idEstado.estado }})</a><br/>
                                        {% else %}
                                            ({{ sancion.fecha|date('d/m/Y') }} - {{ sancion.idTipo.tipo }}
                                            - {{ sancion.idEstado.estado }})<br/>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if carnet.alumno.puntos > 6 %}
                                    <td>
                                        {% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_CONVIVENCIA')) %}
                                            <a href="{{ path('nueva_sancion', {'idAlumno': carnet.alumno.id}) }}">Crear
                                                sanci贸n</a>
                                        {% endif %}
                                    </td>
                                    {#<td>No sancionado(implementar crear sanci贸n)</td>#}
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#<div class="paginator w3-col m12">#}
            {#{{ knp_pagination_render(arrayCarnetData) }}#}
            {#</div>#}
        </form>
    </div>
{% endblock %}
