{#
Vista de recuperación de la contraseña.
Actualizado por GUBS, RAGZ, 2019
#}
{% extends 'base2.html.twig' %}
{% block body %}
    <header>
        <div class="navbar-fixed z-depth-4" id="inicio">
            <nav>
                <div class="nav-wrapper blue darken-3 row">

                    <div class="col l8 left">
                        <ul class="left">
                            <li>
                                <a href="{{ path('login') }}" class="ancla centro">
                                    <img id="img_nav" src="{{ asset('img/logo3.png') }}" alt="logo3">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l4 right">
                        <ul class="right">
                            <li>
                                <a href="{{ path('login') }}">Volver</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="col s12 l4 offset-l4 center">
        <h3 class="center azul-prof fuente">Recuperar contraseña</h3>


            {% for flash_message in app.session.flashBag.get('password') %}
                <div class="card-panel green white-text flash2 ">
                    <span class="spancaja">{{ flash_message }} </span><i class="material-icons spanico">done</i>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('passwordError') %}
                <div class="card-panel red white-text flash2 ">
                    <span class="spancaja">{{ flash_message }}</span><i class="material-icons spanico">clear</i>
                </div>
            {% endfor %}

        <div class="divider3"></div>

        <div class="contenedorCartaAlumno">
            <form action="{{ path('recuperarPassword') }}" method="post">
                <div class="input-field col s12 center">
                    <input name="username" id="username" type="text" class="validate">
                    <label for="username">Usuario</label>
                </div>
                <button class="btn blue darken-3 waves-effect waves-light" type="submit" name="recuperar"
                        value="Recuperar">Recuperar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
